# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# PyCharm
.idea/
# Uncomment the line below if you use virtualenv and the venv folder is inside your project
# .idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/
.idea/shelf/
.idea/description.html
.idea/vcs.xml
.idea/.name
*.iml
*.iws

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.lnk