{% extends 'home/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete {{ person.first_name }} {{ person.last_name }}?</p>
    <form method="post" action="{% url 'examination:delete_person' person.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'examination:persons' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}